extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/file-upload.pug
include ../../mixins/select-tree.pug
block main 
    +alert-success
    +alert-error 
    +alert-warning
    if(role.permissions.includes('products_create'))
        div(class="card")
            div(class="card-header txt-align-center") Create Product
            div(class="card-body")
                form(
                    action=`${path_admin}/products/create` 
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="form-item")
                        label(class="label-style" for="title") Title:
                        input(
                            type="text" 
                            class="input-form" 
                            id="title" 
                            name="title"
                            placeholder="Title of product..."
                            required
                        )
                    div(class="form-item")
                        label(class="label-style" for="product_category_id") Category:
                        select(class="select-model" name="product_category_id")
                            option(value="") Choose 
                            +select-tree(categoryList)
                    div(class="form-item")
                        label(class="label-style" for="description") Description:
                        textarea(
                            name="description",
                            class="txt-area use-tinymce"
                            id="description",
                            placeholder="Describe yours product here..."
                            rows="5"
                        )
                    div(class="form-item")
                        label(class="label-style" for="price") Price ($):
                        input(
                            type="number" 
                            class="input-form" 
                            id="price" 
                            name="price"
                            placeholder="Price of product..."
                            min="0"
                            required
                        )
                    div(class="form-item")
                        label(class="label-style" for="discountPercentage") Discount (%):
                        input(
                            type="number" 
                            class="input-form" 
                            id="discountPercentage" 
                            name="discountPercentage"
                            placeholder="Discount of product...(default 0%)"
                            min="0"
                        )
                    div(class="form-item")
                        label(class="label-style" for="stock") Stock:
                        input(
                            type="number" 
                            class="input-form" 
                            id="stock" 
                            name="stock"
                            placeholder="Stock of product...(default: 1)"
                            min="0"
                        )
                    div(class="form-item")
                        label(class="label-style" for="position") Position:
                        input(
                            type="number" 
                            class="input-form" 
                            id="position" 
                            name="position"
                            placeholder="Position of product..."
                            min="0"
                        )
                    +file-upload("Image", "thumbnail")
                    div(class="form-item-radio")
                        input(
                            type="radio"
                            class="input-radio"
                            id="statusActive"
                            name="status"
                            value="active"
                            checked=true
                        )
                        label(class="label-style-radio" for="statusActive") Active
                    div(class="form-item-radio")
                        input(
                            type="radio"
                            class="input-radio"
                            id="statusInctive"
                            name="status"
                            value="inactive"
                        )
                        label(class="label-style-radio" for="statusInctive") Inactive
                    div(class="form-item ")
                        button(type="submit" class="btn btn-mid font-16 btn-bg-green") Create
    else 
        h1(class="ml-20") You don't have permission to view this page
    script(src="/admin/js/file-upload.js")