extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/file-upload.pug
include ../../mixins/select-tree.pug
block main 
    +alert-success
    +alert-error 
    +alert-warning
    if(role.permissions.includes('products_edit'))
        div(class="card")
            div(class="card-header txt-align-center") Edit Product
            div(class="card-body")
                form(
                    action=`${path_admin}/products/edit/${record.id}?_method=PATCH` 
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="form-item")
                        label(class="label-style" for="title") Title:
                        input(
                            type="text" 
                            class="input-form" 
                            id="title" 
                            name="title"
                            placeholder="Title of product..."
                            value=record.title
                            required
                        )
                    div(class="form-item")
                    label(class="label-style" for="feature-1") Feature:
                    div(class="dflex-row  p-5")
                        div(class="col-12 dflex align-item-center")
                            input(
                                type="radio"
                                class="input-radio"
                                id="feature-1"
                                name="featured"
                                value="1"
                                checked=true
                            )
                            label(class="" for="feature-1") Yes
                        div(class="col-12 dflex align-item-center")
                            input(
                                type="radio"
                                class="input-radio"
                                id="feature-2"
                                name="featured"
                                value="0"
                            )
                            label(class="" for="feature-2") No
                    div(class="form-item")
                        label(class="label-style" for="product_category_id") Category:
                        select(class="select-model" name="product_category_id")
                            option(value="" selected=(record.product_category_id == "" ? false : true)) Choose
                            +select-tree(categoryList, 0, record.product_category_id) 
                    div(class="form-item")
                        label(class="label-style" for="description") Description:
                        textarea(
                            name="description",
                            class="txt-area use-tinymce"
                            id="description",
                            placeholder="Describe yours product here..."
                            rows="5"
                        ) #{record.description}
                    div(class="form-item")
                        label(class="label-style" for="price") Price ($):
                        input(
                            type="number" 
                            class="input-form" 
                            id="price" 
                            name="price"
                            placeholder="Price of product..."
                            min="0"
                            value=record.price
                            required
                        )
                    div(class="form-item")
                        label(class="label-style" for="discountPercentage") Discount (%):
                        input(
                            type="number" 
                            class="input-form" 
                            id="discountPercentage" 
                            name="discountPercentage"
                            placeholder="Discount of product...(default 0%)"
                            min="0"
                            value=record.discountPercentage
                        )
                    div(class="form-item")
                        label(class="label-style" for="stock") Stock:
                        input(
                            type="number" 
                            class="input-form" 
                            id="stock" 
                            name="stock"
                            placeholder="Stock of product...(default: 1)"
                            min="0"
                            value=record.stock
                        )
                    div(class="form-item")
                        label(class="label-style" for="position") Position:
                        input(
                            type="number" 
                            class="input-form" 
                            id="position" 
                            name="position"
                            placeholder="Position of product..."
                            min="0"
                            value=record.position
                        )
                    +file-upload("Image", "thumbnail", "form-item", record.thumbnail)
                    div(class="form-item-radio")
                        input(
                            type="radio"
                            class="input-radio"
                            id="statusActive"
                            name="status"
                            value="active"
                            checked=(record.status==="active"?true:false)
                        )
                        label(class="label-style-radio" for="statusActive") Active
                    div(class="form-item-radio")
                        input(
                            type="radio"
                            class="input-radio"
                            id="statusInctive"
                            name="status"
                            value="inactive"
                            checked=(record.status==="inactive"?true:false)
                        )
                        label(class="label-style-radio" for="statusInctive") Inactive
                    div(class="form-item ")
                        button(type="submit" class="btn btn-mid font-16 btn-bg-green") Edit
    else 
        h1(class="ml-20") You don't have permission to view this page
    script(src="/admin/js/file-upload.js")