extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/file-upload.pug
block main 
    +alert-success
    +alert-error 
    +alert-warning
    div(class="card")
        div(class="card-header txt-align-center") Chỉnh sửa phòng chat
        div(class="card-body")
            form(
                action=`/rooms-chat/create` 
                method="POST"
                enctype="multipart/form-data"
            )   
                div(class="form-item")
                    label(class="label-style" for="title") Tên nhóm:
                    input(
                        type="text" 
                        class="input-form" 
                        id="title" 
                        name="title"
                        placeholder="Tên của nhóm chat..."
                        value=infoRoomChat.title
                        required
                    )
                +file-upload("Image", "avatar", "form-item", infoRoomChat.avatar)
                div(class="form-item")
                    label(class="label-style" for="position") Thêm thành viên:
                    each user in infoRoomChat.users 
                        div(class="form-item-radio")
                            input(
                                type="checkbox"
                                class="input-radio"
                                id=`user-${user.user_id}`
                                name="userId"
                                value=user.user_id
                                checked=true 
                            )
                            label(class="label-style-radio" for=`user-${user.user_id}`) #{user.infoUser.fullName}
                div(class="form-item ")
                    button(type="submit" class="btn btn-mid font-16 btn-bg-green") Sửa
    script(src="/client/js/file-upload.js")