extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    .container 
        h2 Danh sách phòng chat
        .d-flex.mb-5
            a(
                href="/rooms-chat/create"
                class="text-decoration-none btn btn-sm btn-bg-green"
            ) Tạo phòng chat

        .d-flex
            .col-5
                div(class="box-user")
                    img(
                         src="https://robohash.org/hicveldicta.png"
                    )
                    .d-flex-column 
                        span(
                            class="fullName" 
                        ) #{user.fullName} 
                        a(
                            href=`/chat/${user.room_chat_id}`
                            class="btn add-friend mb-5 text-decoration-none"
                            btn-message=user.id
                        ) Nhắn tin
                        span(
                            class="btn not-friend"
                            btn-delete-friend = user.id
                        ) Rời khỏi nhóm
                        span(
                            class="btn not-friend"
                            btn-deleted-friend = user.id
                            disabled
                        ) Đã rời khỏi nhóm