include ../mixins/menu-nav.pug
header(class="header")
    div(class="container dflex-colum")
        div(class="sub__header")
        div(class="inner-wrap")
            a(class="inner-logo" href="/")
                img(
                    src=settingGeneral.logo
                    alt="logo nodejs"
                )
                span #{settingGeneral.websiteName}
            div(class="inner-menu")
                ul(class="navigation")
                    li 
                        a(href='/')
                            | Trang chủ
                    li(class="menu")
                        a(href=`/products`)
                            | Tủ sách
                            svg.chevron(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', stroke-width='2', stroke='white', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                path(stroke='none', d='M0 0h24v24H0z', fill='none')
                                path(d='M9 6l6 6l-6 6')
                        if(category)
                            +nav-menu(category, '/products')
                    li  
                        a(href="#")
                            |  Bài viết
                    li  
                        a(href="#")
                            |  Tác giả
                    li  
                        a(href="#")
                            |  Liên hệ
                            svg.chevron(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', stroke-width='2', stroke='white', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                path(stroke='none', d='M0 0h24v24H0z', fill='none')
                                path(d='M9 6l6 6l-6 6')
            form(
                method="GET"
                action='/search'
                id="form-search-keyword"
            )
                input(
                    type="search"
                    name="keyword"
                    value=keyword
                    placeholder="Tìm kiếm..."
                    class="input-search"
                )
                button(
                    type="submit"
                    class="button-search"
                ) Tìm
            if(user)
                div(class="inner-menu")
                    div(class="navigation__group")
                        a(href='/chat')
                            img(class="icon" src=`/admin/images/svg/message.svg`)
                        img(class="icon" src=`/admin/images/svg/notification.svg`)
                        div(class="mini-cart ml-20")
                            a(href="/cart")
                                svg.h-6.w-6(width='64px' height='64px' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier.stroke-orange-F66B2D(stroke-linecap='round' stroke-linejoin='round')
                                    g#SVGRepo_iconCarrier
                                        path.stroke-orange-F66B2D(d='M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z' )
                                        path.stroke-orange-F66B2D(d='M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z' )
                                        path.stroke-orange-F66B2D(d='M11 9H8' )
                                        path.stroke-orange-F66B2D(d='M2 3L2.26491 3.0883C3.58495 3.52832 4.24497 3.74832 4.62248 4.2721C5 4.79587 5 5.49159 5 6.88304V9.5C5 12.3284 5 13.7426 5.87868 14.6213C6.75736 15.5 8.17157 15.5 11 15.5H13M19 15.5H17' )
                                        path.stroke-orange-F66B2D(d='M5 6H8M5.5 13H16.0218C16.9812 13 17.4609 13 17.8366 12.7523C18.2123 12.5045 18.4013 12.0636 18.7792 11.1818L19.2078 10.1818C20.0173 8.29294 20.4221 7.34853 19.9775 6.67426C19.5328 6 18.5054 6 16.4504 6H12' )
                                span(class="") #{(miniCart ? miniCart.products.length : 0)}
                        img(class="profile" src=user.avatar)
                
                    div(class="dropdown none")
                        div(class="dropdown__group")
                            div(class="user-name") #{user.fullName}
                            div(class="email") #{user.email}
                        hr(class="divider")
                        nav(class="dropdown__nav")
                            ul 
                                li 
                                    a(href=`/user/infor` class="dflex txt-decoration-none txt-black")
                                        img(src=`/admin/images/svg/profile.svg`)
                                        |   Thông tin cá nhân
                                li 
                                    img(src=`/admin/images/svg/setting.svg`)
                                    |   Cài đặt
                            hr(class="divider")
                            ul 
                                li 
                                    img(src="/admin/images/svg/tutorials.svg")
                                    |   Tutorials
                                li 
                                    img(src="/admin/images/svg/help.svg")
                                    |   Hỗ trợ
                            hr(class="divider")
                            ul 
                                li 
                                    img(src="/admin/images/svg/premium.svg")
                                    |   Go Premium
                                li 
                                    a(href=`/user/logout` class="dflex")
                                        img(src="/admin/images/svg/logout.svg")
                                        |   Đăng xuất
    
            else
                div(class="user-login-singup ")
                    svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                        path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                        path(d='M16 3.13a4 4 0 0 1 0 7.75')
                        path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')
                    div(class="user-header")
                        a(href="/user/signin") Đăng nhập
                        a(href="/user/signup") Đăng ký

                div(class="mini-cart")
                    a(href="/cart")
                        svg.h-6.w-6(width='64px' height='64px' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            g#SVGRepo_bgCarrier(stroke-width='0')
                            g#SVGRepo_tracerCarrier.stroke-orange-F66B2D(stroke-linecap='round' stroke-linejoin='round')
                            g#SVGRepo_iconCarrier
                                path.stroke-orange-F66B2D(d='M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z' )
                                path.stroke-orange-F66B2D(d='M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z' )
                                path.stroke-orange-F66B2D(d='M11 9H8' )
                                path.stroke-orange-F66B2D(d='M2 3L2.26491 3.0883C3.58495 3.52832 4.24497 3.74832 4.62248 4.2721C5 4.79587 5 5.49159 5 6.88304V9.5C5 12.3284 5 13.7426 5.87868 14.6213C6.75736 15.5 8.17157 15.5 11 15.5H13M19 15.5H17' )
                                path.stroke-orange-F66B2D(d='M5 6H8M5.5 13H16.0218C16.9812 13 17.4609 13 17.8366 12.7523C18.2123 12.5045 18.4013 12.0636 18.7792 11.1818L19.2078 10.1818C20.0173 8.29294 20.4221 7.34853 19.9775 6.67426C19.5328 6 18.5054 6 16.4504 6H12' )
                        
                        span(class="") #{(miniCart ? miniCart.products.length : 0)}

            //- div(class="inner-user")
            //-     ul(class="navigation")
            //-         li 
            //-             a(href="/") Đăng nhập
            //-         li 
            //-             a(href="/") Đăng ký
    //- script(src="/client/js/script.js")
    if(user)
        script(src="/admin/js/login.js")