include ../mixins/menu-nav.pug
header(class="header")
    div(class="container dflex-colum")
        div(class="sub__header")
        div(class="inner-wrap")
            a(class="inner-logo" href="/")
                img(
                    src="/client/images/svg/nodejs-icon.svg"
                    alt="logo nodejs"
                )
                span Nodejs
            div(class="inner-menu")
                ul(class="navigation")
                    li 
                        a(href='/')
                            | Trang chủ
                    li(class="menu")
                        a(href=`/products`)
                            | Tủ sách
                            svg.chevron(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', stroke-width='2', stroke='white', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                path(stroke='none', d='M0 0h24v24H0z', fill='none')
                                path(d='M9 6l6 6l-6 6')
                        if(category)
                            +nav-menu(category, '/products')
                    li  
                        a(href="#")
                            |  Bài viết
                    li  
                        a(href="#")
                            |  Tác giả
                    li  
                        a(href="#")
                            |  Liên hệ
                            svg.chevron(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', stroke-width='2', stroke='white', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                path(stroke='none', d='M0 0h24v24H0z', fill='none')
                                path(d='M9 6l6 6l-6 6')
            form(
                method="GET"
                action='/search'

            )
                input(
                    name="keyword"
                    value=""
                    placeholder="Tìm kiếm..."
                    class="input-search"

                )
                button(
                    type="submit"
                    class="button-search"
                ) Tìm
            div(class="inner-user")
                ul(class="navigation")
                    li 
                        a(href="/") Đăng nhập
                    li 
                        a(href="/") Đăng ký