extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/file-upload.pug
block main 
    +alert-success
    +alert-error 
    +alert-warning
    if(role.permissions.includes('roles_create'))
        div(class="card")
            div(class="card-header txt-align-center") Create Category
            div(class="card-body")
                form(
                    action=`${path_admin}/roles/create` 
                    method="POST"
                )
                    div(class="form-item")
                        label(class="label-style" for="title") Title:
                        input(
                            type="text" 
                            class="input-form" 
                            id="title" 
                            name="title"
                            placeholder="Title of product..."
                            required
                        )
                    div(class="form-item")
                        label(class="label-style" for="description") Description:
                        textarea(
                            name="description",
                            class="txt-area use-tinymce"
                            id="description",
                            placeholder="Describe yours product here..."
                            rows="5"
                        )
                    div(class="form-item ")
                        button(type="submit" class="btn btn-mid font-16 btn-bg-green") Create
    else 
        h1(class="ml-20") You don't have permission to view this page  
    script(src="/admin/js/file-upload.js")