extends ../../layouts/default.pug
include ../../mixins/button-filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
block main 
    
    +alert-success
    +alert-error 
    div(class="card")
        div(class="card-header") Feature    
        div(class="card-body")
            div(class="dflex-row")
                .column-2 
                    a(
                        href=`${path_admin}/roles/create`
                        class="btn btn-sm btn-outline-green txt-decoration-none"
                    ) Create
        div(class="card-header")
            div(class="caption")
                |   Role 
                span(class="length-products") #{numberOfRecords}
        div(class="card-body")
            table(class="table" table-record)
                thead 
                    tr 
                        th 
                            input(type="checkbox" name="checkbox-all")
                        th Name
                        th Description
                        th Action 
                tbody 
                    if(records) 
                        each record in records
                            tr 
                                td 
                                    input(
                                        type="checkbox"
                                        value=record.id
                                        name="checkbox-single"
                                    )
                                td 
                                    span(class="infor__name") #{record.title}
                                td 
                                    span() !{record.description}
                                td 
                                    a(
                                        href=`${path_admin}/products-category/detail/${record.id}`
                                        class="tag tag--detail mr-5"
                                    ) detail
                                    a(
                                        href=`${path_admin}/roles/edit/${record.id}`
                                        class="tag tag--edit mr-5"
                                    ) edit
                                    button(
                                        class="tag tag--delete btn btn-sm font-16"
                                        data-id= record.id
                                        button-delete
                                    ) delete
        //- div(class="card-body")
        //-     +pagination(pagination)

    //- form change status
    //- form(
    //-     action=""
    //-     method="POST"
    //-     id="form-change-status"
    //-     data-path=`${path_admin}/products-category/change-status`
    //- )
    //- form-delete
    form(
        action=""
        method="POST"
        id="form-delete-soft"
        data-path=`${path_admin}/roles/delete-soft`
    )
    
    script(src="/admin/js/script.js")
    script(src="/admin/js/products.js")