extends ../../layouts/default.pug
include ../../mixins/button-filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
block main 
    
    +alert-success
    +alert-error 
    div(class="card")
        if(buttonFilterStatus)
            div(class="card-header") Filter And Search 
            div(class="card-body")
                +button-filter-status(buttonFilterStatus)

        div(class="card-header") Feature
        div(class="card-body")
            div(class="dflex-row")
                .column-2 
                    a(
                        href=`${path_admin}/accounts/create`
                        class="btn btn-sm btn-outline-green txt-decoration-none"
                    ) Create
        div(class="card-header")
            div(class="caption")
                |   Accounts 
                span(class="length-products") #{numberOfRecords}
        div(class="card-body")
            table(class="table" table-record)
                thead 
                    tr
                        th 
                            input(type="checkbox" name="checkbox-all")
                        th Name 
                        th Status
                        th Email address 
                        th Role 
                        th Acitve
                tbody 
                    if(records)
                        each record in records
                            tr
                                td
                                    input(
                                        type="checkbox"
                                        value=record.id
                                        name="checkbox-single"
                                    )
                                td(class="account__profile")
                                    img(
                                        src=record.avatar 
                                    )
                                    span #{record.fullName}
                                if(record.status == "active")
                                    td
                                        a(
                                            href="javascript:;" 
                                            class="status__style txt-color-black" 
                                            data-id = record.id
                                            button-change-status="active"
                                        )
                                            div(class="status__circle status__circle--active")
                                            <span>active</span>
                                else if(record.status == "inactive")
                                    td
                                        a(
                                            href="javascript:;" 
                                            class="status__style txt-color-black" 
                                            data-id = record.id
                                            button-change-status="inactive"
                                        )
                                            div(class="status__circle status__circle--inactive")
                                            <span>inactive</span>
                                td #{record.email}
                                td 
                                    span(class="tag--role") #{record.role}
                                td 
                                    a(
                                        href=`${path_admin}/accounts/detail/${record.id}`
                                        class="tag tag--detail mr-5"
                                    ) detail
                                    a(
                                        href=`${path_admin}/accounts/edit/${record.id}`
                                        class="tag tag--edit mr-5"
                                    ) edit
                                    button(
                                        class="tag tag--delete btn btn-sm font-16"
                                        data-id= record.id
                                        button-delete
                                    ) delete
        div(class="card-body")
            if(pagination)
                +pagination(pagination)
    //- form change status
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${path_admin}/accounts/change-status`
    )

    //- form-delete
    form(
        action=""
        method="POST"
        id="form-delete-soft"
        data-path=`${path_admin}/accounts/delete-soft`
    )

    script(src="/admin/js/script.js")
    script(src="/admin/js/products.js")