extends ../../layouts/default.pug
include ../../mixins/pagination.pug
    block main 
        div(class="container")
            div(class="feature-product") 
                div(class="feature-header") Sản phẩm nổi bật
                div(class="feature-body")
                    div(class="d-flex flex-wrap align-item-center justify-content-center")
                        each record in records
                            if(record.featured == "1")
                                div(class="col-5 text-align-center")
                                    div(class="product__item transform-scale" title=record.title)
                                        img(src=record.thumbnail)
                                        div(class="item-infor")
                                            h3(class="item-name")
                                                a(href="#" class="text-decoration-none")  #{record.title}
                                            div(class="item--price")
                                                span(class="price-new") $#{record.newPrice}
                                                span(class="price-old") $#{record.price}