extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    .d-flex 
        .item-divided-1 
            //- div() content 
        .item-divided-3 
            .box-chat 
                .box-chat-header
                    img(src="https://cdn-media.sforum.vn/storage/app/media/wp-content/uploads/2024/02/avatar-anh-meo-cute-1.jpg")
                    .d-flex-column
                        span(class="fullName") Hội trường lớn
                .box-chat-body(user-id=user.id)
                    if(chats)
                        each chat in chats 
                            if(chat.user_id != user.id)
                                .in-comming 
                                    img(src=chat.avatar)
                                    .d-flex-column 
                                        span(class="fullName") #{chat.fullName}
                                        p(class="content") #{chat.content}
                            else 
                                .out-going 
                                    p(class="content") #{chat.content}
                                    
                    div(class="box-list-typing")
                        //- div(class="box-typing")
                        //-     .in-comming 
                        //-         img(src="https://cdn-media.sforum.vn/storage/app/media/wp-content/uploads/2024/02/avatar-anh-meo-cute-1.jpg")
                        //-         .d-flex-column 
                        //-             span(class="fullName") Giang Truong
                        //-             div(class="inner-dots")
                        //-                 span 
                        //-                 span 
                        //-                 span     
                    emoji-picker(class="light tooltip .emoji-picker" role="tooltip")  
                .box-chat-footer 
                    .iconSite
                        ul(class="reset-ul d-flex")
                            li.p-lr-10px
                                i.fa-solid.fa-circle-plus
                            li.p-lr-10px
                                i.fa-solid.fa-camera
                            li.p-lr-10px
                                i.fa-solid.fa-image
                            li.p-lr-10px
                                i.fa-solid.fa-microphone

                    form(action=""  class="box-chat-form")
                        div(class="divInput")
                            input(
                                class="content"
                                name="content"
                                placeholder="Aa"
                                autocomplete="off"
                            )
                            <i class="fa-solid fa-face-smile"></i>
                        button(
                            type="submit"
                            class="box-chat-button"
                        ) 
                            <i class="fa-brands fa-telegram"></i>    