mixin product-item(item, col)
    div(class=`${col} text-align-center product-center`)
        div(class="product__item transform-scale" title=item.title)
            img(src=item.thumbnail)
            div(class="item-infor")
                h3(class="item-name")
                    a(href=`/products/detail/${item.slug}` class="text-decoration-none")  #{item.title}
                div(class="item--price")
                    span(class="price-new") $#{item.newPrice}
                    span(class="price-old") $#{item.price}