extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    +alert-warning 
    .page-content-signup-signin
        .container-sm
            .d-flex 
                .col-7left
                    form(
                        action="/user/signin"
                        method="POST"
                        class="form-signup p-20"
                    )
                        h3(class="clr-mt") Quên mật khẩu
                        p Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.
                        .form-group 
                            label(class="label-login-signup") Email *
                            input(
                                type="email"
                                name="email"
                                class="input-form mb-10"
                                placeholder="Địa chỉ email..."
                            )
                        button(
                            type="submit"
                            class="text-decoration-none btn-signup mb-20"
                        ) Gửi yêu cầu
                        a(
                            href='/user/signin'
                            class="text-decoration-none btn-signup-white mb-20"
                        ) Hủy
     

                .col-3right
                    div(class="benifit-user")
                        h3 Quyền lợi thành viên
                        ul(class="navigation d-flex-column")
                            li Vận chuyển siêu tốc
                            li Sản phẩm đa dạng
                            li Đổi trả dễ dàng
                            li Tích điểm đổi quà
                            li Được giảm giá cho lần mua tiếp theo đến 10%
                        .text-align-left.mt-20.ml-20
                            a(
                                href="/user/signup"
                                class="text-decoration-none btn-signin"
                            ) Đăng ký
