extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    +alert-warning 
    .page-content-signup-signin
        .container-smest
            .d-flex 
                .col-7left
                    form(
                        action="/user/password/otp"
                        method="POST"
                        class="form-signup p-20"
                    )
                        h3(class="  clr-mt") Nhập mã OTP
                        p Một mã xác nhận đã được gửi đến #{email}
                        //- .form-group
                        //-     input(
                        //-             type="text"
                        //-             name="email"
                        //-             value=email
                        //-             class="d-none"
                        //-             readonly
                        //-     )
                        .form-group 
                            label(class="label-login-signup") OTP *
                            input(
                                type="text"
                                name="otp"
                                class="input-form mb-10"
                                placeholder="Nhập mã OTP..."
                            )
                        button(
                            type="submit"
                            class="text-decoration-none btn-signup mb-20"
                        ) Xác nhận
                        a(
                            href='/user/signin'
                            class="text-decoration-none btn-signup-white mb-20"
                        ) Hủy
     

                .col-3right
                    div(class="benifit-user")
                        h3 Quyền lợi thành viên
                        ul(class="navigation d-flex-column")
                            li Vận chuyển siêu tốc
                            li Sản phẩm đa dạng
                            li Đổi trả dễ dàng
                            li Tích điểm đổi quà
                            li Được giảm giá cho lần mua tiếp theo đến 10%
                        .text-align-left.mt-20.ml-20
                            a(
                                href="/user/signup"
                                class="text-decoration-none btn-signin"
                            ) Đăng ký
