extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    +alert-warning 
    .page-content-signup-signin
        .container-smest
            .d-flex 
                .col-7left
                    form(
                        action="/user/password/reset"
                        method="POST"
                        class="form-signup p-20"
                    )
                        h3(class="clr-mt") Đổi mật khẩu
                        p Mật khẩu của bạn phải có tối thiểu 6 ký tự
                        //- .form-group 
                        //-     label(class="label-login-signup") Mật khẩu hiện tại *
                        //-     input(
                        //-         type="text"
                        //-         name="email"
                        //-         class="input-form mb-10"
                        //-         placeholder="Mật khẩu hiện tại"
                        //-     )
                        .form-group 
                            label(class="label-login-signup") Mật khẩu mới*
                            input(
                                type="password"
                                name="password"
                                class="input-form mb-10"
                                placeholder="Mật khẩu mới"
                            )
                        .form-group 
                            label(class="label-login-signup") Nhập lại mật khẩu mới*
                            input(
                                type="password"
                                name="confirmPassword"
                                class="input-form mb-10"
                                placeholder="Nhập lại mật khẩu mới"
                            )
                        button(
                            type="submit"
                            class="text-decoration-none btn-signup mb-20"
                        ) Đổi mật khẩu
                        a(
                            href='/user/signin'
                            class="text-decoration-none btn-signup-white mb-20"
                        ) Hủy
     

                .col-3right
                    div(class="benifit-user")
                        h3 Quyền lợi thành viên
                        ul(class="navigation d-flex-column")
                            li Vận chuyển siêu tốc
                            li Sản phẩm đa dạng
                            li Đổi trả dễ dàng
                            li Tích điểm đổi quà
                            li Được giảm giá cho lần mua tiếp theo đến 10%
                        .text-align-left.mt-20.ml-20
                            a(
                                href="/user/signup"
                                class="text-decoration-none btn-signin"
                            ) Đăng ký
