extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    +alert-warning 
    .page-content-signup-signin
        .container-smest
            .d-flex 
                .col-7left
                    form(
                        action="/user/signup"
                        method="POST"
                        class="form-signup p-20"
                    )
                        h3(class="clr-mt") Đăng ký tài khoản
                        .form-group
                            label(class="label-login-signup") Họ và Tên *
                            input(
                                type="text"
                                name="fullName"
                                class="input-form mb-10"
                                placeholder="Họ và tên"
                            )
                        .form-group 
                            label(class="label-login-signup") Số điện thoại *
                            input(
                                type="tel"
                                name="tel"
                                class="input-form mb-10"
                                placeholder="Số điện thoại"
                            )
                        .form-group 
                            label(class="label-login-signup") Email *
                            input(
                                type="email"
                                name="email"
                                class="input-form mb-10"
                                placeholder="Địa chỉ email..."
                            )
                        .form-group 
                            label(class="label-login-signup") Mật khẩu *
                            input(
                                type="password"
                                name="password"
                                class="input-form mb-10"
                                placeholder="Mật khẩu"
                            )
                        button(
                            type="submit"
                            class="text-decoration-none btn-signup"
                        ) Đăng ký   

                .col-3right
                    div(class="benifit-user")
                        h3 Quyền lợi thành viên
                        ul(class="navigation d-flex-column")
                            li Vận chuyển siêu tốc
                            li Sản phẩm đa dạng
                            li Đổi trả dễ dàng
                            li Tích điểm đổi quà
                            li Được giảm giá cho lần mua tiếp theo đến 10%
                        .text-align-left.mt-20.ml-20
                            a(
                                href="/user/signin"
                                class="text-decoration-none btn-signin"
                            ) Đăng nhập
