extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error
    +alert-warning 
    .page-content-signup-signin
        .container-smest
            .d-flex 
                .col-7left
                    form(
                        action="/user/signin"
                        method="POST"
                        class="form-signup p-20"
                    )
                        h3(class="clr-mt") Đăng nhập tài khoản
                        .form-group 
                            label(class="label-login-signup") Email *
                            input(
                                type="email"
                                name="email"
                                class="input-form mb-10"
                                placeholder="Địa chỉ email..."
                            )
                        .form-group 
                            label(class="label-login-signup") Mật khẩu *
                            input(
                                type="password"
                                name="password"
                                class="input-form mb-10"
                                placeholder="Mật khẩu"
                            )
                        button(
                            type="submit"
                            class="text-decoration-none btn-signup mb-20"
                        ) Đăng nhập   
                        .d-flex.justify-content-center.align-item-center
                            p(class="text-align-center") Bạn quên mật khẩu bấm  
                                a(href="/user/password/forgot" class="txt-color-wBlue")  vào đây       

                .col-3right
                    div(class="benifit-user")
                        h3 Quyền lợi thành viên
                        ul(class="navigation d-flex-column")
                            li Vận chuyển siêu tốc
                            li Sản phẩm đa dạng
                            li Đổi trả dễ dàng
                            li Tích điểm đổi quà
                            li Được giảm giá cho lần mua tiếp theo đến 10%
                        .text-align-left.mt-20.ml-20
                            a(
                                href="/user/signup"
                                class="text-decoration-none btn-signin"
                            ) Đăng ký
