extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert-success
    +alert-error 
    .container
        h3(class="title") GIỎ HÀNG CỦA BẠN
        div(class="d-flex")
            .item-divided-4
                table(class="table-cart")
                    thead 
                        tr
                            th Thông tin sản phẩm
                            th Đơn giá
                            th Số lượng
                            th Thành tiền
                    tbody 
                        if(myCart.products.length > 0)
                            each item in myCart.products
                                tr 
                                    td(class="d-flex")
                                        img(
                                            src=item.inforProduct.thumbnail
                                        )
                                        div(class="d-flex-column justify-content-center ml-10")
                                            a(
                                                href="#" 
                                                class="text-decoration-none product-cart-title text-uppercase"
                                            ) #{item.inforProduct.title}

                                            a(
                                                href=`/cart/delete/${item.product_id}`
                                                class="product-cart-delete text-decoration-none"
                                            ) Xóa
                                    td 
                                        span(class="product-cart-price")  $#{item.inforProduct.newPrice}
                                    td 
                                        div(class="d-flex align-item-center")
                                            div(class="product__detail--quantity mr-10")
                                                span(
                                                    class=""
                                                    button-quantity = "sub"
                                                ) -

                                                input(
                                                    type="text" 
                                                    class="quantity"
                                                    name="quantity"
                                                    value=item.quantity
                                                    min="1"
                                                    style="width:50px"
                                                    
                                                )
                                                span(
                                                    class=""
                                                    button-quantity = "add"
                                                ) +
                                    td 
                                        span(class="product-cart-price") $#{item.inforProduct.totalPriceOfProduct}
                div(class="table-pay mb-20")
                    div(class="d-flex-column")
                        div(class="d-flex-row mb-20 mt-10 justify-content-space-between")
                            span Tổng tiền: 
                            span(class="product-cart-price") $#{myCart.totalNeedPay}
                        button(class="btn btn-large btn-bg-green") Thanh toán
            .item-divided-1