extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error 
    .container 
        include ../../partials/list-btn-user.pug
        .d-flex.flex-wrap
            if(users)
                each user in users
                    .col-5
                        div(class=`box-user`)
                            img(
                                src="https://vnn-imgs-a1.vgcloud.vn/image1.ictnews.vn/_Files/2020/03/17/trend-avatar-1.jpg"
                            )
                            .d-flex-column 
                                span(
                                    class="fullName" 
                                ) #{user.fullName} 
                                .d-flex
                                span(
                                    class="btn add-friend mb-5"
                                    btn-accept-friend = user.id
                                ) Xác nhận
                                span(
                                    class="btn not-friend"
                                    btn-refuse-friend = user.id
                                ) Xóa
                                span(
                                    class="btn not-friend"
                                    btn-deleted-friend = user.id
                                    disabled
                                ) Đã xóa
                                span(
                                    class="btn add-friend"
                                    btn-accepted-friend = user.id
                                    disabled
                                ) Đã chấp nhận
        //- .d-flex
        //-     .col-6 
        //-         div(class="box-user")
        //-             img(
        //-                 src="https://vnn-imgs-a1.vgcloud.vn/image1.ictnews.vn/_Files/2020/03/17/trend-avatar-1.jpg"
        //-             )
        //-             .d-flex-column
        //-                 span(class="fullName") Nguyễn Nhân

        //-                 span(class="btn add-friend") Thêm bạn bè

                        //- span(class="btn not-friend") Hủy kết bạn
block script 
    script(src="/client/js/users.js")


                
