extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success
    +alert-error 
    .container 
        include ../../partials/list-btn-user.pug
        .d-flex.flex-wrap(user-my-friend=user.id)
            if(users)
                each user in users
                    .col-5(box-user-id=user.id)
                        div(class=`box-user add`)
                            img(
                                src=user.avatar
                            )
                            .d-flex-column 
                                span(
                                    class="fullName" 
                                ) #{user.fullName} 
                                span(
                                    class="btn add-friend mb-5"
                                    btn-message=user.id
                                ) Nhắn tin
                                span(
                                    class="btn not-friend"
                                    btn-delete-friend = user.id
                                ) Xóa bạn bè
                                span(
                                    class="btn not-friend"
                                    btn-deleted-friend = user.id
                                    disabled
                                ) Đã bị xóa
                            span(
                                status=user.statusOnline
                                class=`
                                status status-circle `
                            )
        //- .d-flex
        //-     .col-6 
        //-         div(class="box-user")
        //-             img(
        //-                 src="https://vnn-imgs-a1.vgcloud.vn/image1.ictnews.vn/_Files/2020/03/17/trend-avatar-1.jpg"
        //-             )
        //-             .d-flex-column
        //-                 span(class="fullName") Nguyễn Nhân

        //-                 span(class="btn add-friend") Thêm bạn bè

                        //- span(class="btn not-friend") Hủy kết bạn
block script 
    script(src="/client/js/users.js")


                
