extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/product-layouts.pug
block main
    div(class="container")
        div(class="banner")
            img(
                src="https://static.vecteezy.com/system/resources/previews/002/294/880/non_2x/reading-book-web-banner-design-student-reading-book-on-stack-of-book-to-get-inspiration-online-education-digital-classroom-e-learning-concept-header-or-footer-banner-free-vector.jpg")
    
        div(class="d-flex")
            div(class="item-divided-1")
                h2 Tính năng
            div(class="card clear-border item-divided-3" )
                div(class="card-header ")
                    div(class="d-flex justify-content-space-between")
                        .col-30percent
                            span(class="title") Kết quả tìm được
                            span(class="quantity") #{numberofRecords}
                        .col-70percent 
                            div(class="d-flex justify-content-space-around align-item-center")
                                div() Sắp xếp theo
                                button(class="btn btn-white-gray btn-active-gray") Mặc định
                                button(class="btn btn-white-gray") Sách mới
                                button(class="btn btn-white-gray") Giá thấp - cao
                                button(class="btn btn-white-gray") Giá cao - thấp
                div(class="card-body")
                    div(class="d-flex flex-wrap justify-content-center")
                        if(records)
                            +layout-grid(records, 'col-5')
                        //- each record in records
                        //-     div(class="col-5 text-align-center product-center")
                        //-         div(class="product__item transform-scale" title=record.title)
                        //-             img(src=record.thumbnail)
                        //-             div(class="item-infor")
                        //-                 h3(class="item-name")
                        //-                     a(href="#" class="text-decoration-none")  #{record.title}
                        //-                 div(class="item--price")
                        //-                     span(class="price-new") $#{record.newPrice}
                        //-                     span(class="price-old") $#{record.price}
                if(pagination)
                    +pagination(pagination)
    script(src="/client/js/script.js")